### Bundle.js
/public/bundle.js

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Windows shortcuts
*.lnk

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Linux ###
*~

### Node ###
lib-cov
*.seed
*.csv
*.dat
*.out
*.pid
*.gz


# Logs
logs
*.log

### Bower ###
**/bower_components/

# Deps
node_modules

### IntelliJ & PhPStorm
*.iml
/.idea
